.pc-br {
  display: none;
}
@media (min-width: 1440px) {
  .pc-br {
    display: block;
  }
}

body {
  font-size: 1rem;
  font-family: "Red Hat Display", sans-serif;
}

.nav {
  padding-top: 3rem;
  text-align: center;
}
@media (min-width: 1440px) {
  .nav {
    padding-top: 5rem;
  }
}

.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 4rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 1440px) {
  .hero {
    flex-direction: row;
    gap: 0;
    padding: 5.4375rem 0;
    max-width: 1440px;
    width: 100%;
  }
}

.hero__background {
  background-image: url(../images/mobile/combined-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 10rem;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .hero__background {
    background-image: url(../images/tablet/combined-image-tablet.png);
    height: 18.9375rem;
  }
}
@media (min-width: 1440px) {
  .hero__background {
    background-image: none;
    height: auto;
  }
}

.hero__inner {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 1440px) {
  .hero__inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 8rem;
  }
}

.hero__images-left,
.hero__images-right {
  display: none;
}
@media (min-width: 1440px) {
  .hero__images-left,
.hero__images-right {
    display: block;
    width: auto;
    height: auto;
    justify-self: center;
  }
}

@media (min-width: 1440px) {
  .hero__images-left {
    transform: translate(-5px, -30px);
  }
}

@media (min-width: 1440px) {
  .hero__images-right {
    transform: translateY(30px);
  }
}

.hero__content {
  max-width: 19.06rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .hero__content {
    max-width: 28.01rem;
  }
}
@media (min-width: 1440px) {
  .hero__content {
    justify-content: center;
    gap: 2rem;
  }
}

.hero__title {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.1;
}
@media (min-width: 1440px) {
  .hero__title {
    font-size: 4rem;
  }
}

.hero__subtitle {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.005rem;
  color: #87879d;
}
@media (min-width: 1440px) {
  .hero__subtitle {
    font-size: 1.125rem;
  }
}

.hero__btn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
@media (min-width: 768px) {
  .hero__btn {
    flex-direction: row;
    gap: 1.0625rem;
    justify-content: center;
  }
}

.btn {
  padding: 1rem 2.5rem;
  line-height: 1.5;
  color: #fafafa;
  font-weight: 900;
  border-radius: 1.8125rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hero__btn-cyan {
  background-color: #4d96a9;
}
.hero__btn-cyan span {
  color: #8fe3f9;
  font-weight: 900;
}
.hero__btn-cyan:hover {
  background-color: #71c0d4;
}

.hero__btn-purple {
  background-color: #855fb1;
}
.hero__btn-purple:hover {
  background-color: #b18bdd;
}

.main {
  padding: 2rem 0 4rem;
}
@media (min-width: 1440px) {
  .main {
    padding: 3.5rem 0 4.5rem;
  }
}

.main__inner {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 19.4375rem;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .main__inner {
    max-width: 70rem;
  }
}

.section-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-line {
  width: 1px;
  height: 5rem;
  background-color: #d1d1df;
}

.section-circle {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 1px solid #d1d1df;
  background-color: #fafafa;
  color: #87879d;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.5;
}

.main__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media (min-width: 1440px) {
  .main__images {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}
.main__images img {
  border-radius: 8px;
  width: 100%;
  height: 144px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1;
}
@media (min-width: 1440px) {
  .main__images img {
    height: auto;
  }
}

.main__content {
  text-align: center;
}

.main__content-subtitle {
  color: #4d96a9;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: 0.25rem;
  font-size: 0.75rem;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .main__content-subtitle {
    font-size: 1rem;
  }
}

.main__content-title {
  margin-top: 1rem;
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 900;
}
@media (min-width: 1440px) {
  .main__content-title {
    font-size: 2.5rem;
  }
}

.main__content-text {
  margin-top: 2rem;
  line-height: 1.5;
  color: #87879d;
  letter-spacing: 0.01rem;
}
@media (min-width: 1440px) {
  .main__content-text {
    font-size: 1.125rem;
  }
}

.footer {
  position: relative;
  margin-top: 6.75rem;
  background-color: #4d96a9;
  background-image: linear-gradient(rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)), url(../images/tablet/image-footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 1440px) {
  .footer {
    background-image: linear-gradient(rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)), url(../images/desktop/image-footer.jpg);
    background-position: center top;
  }
}

.footer__indicator {
  position: absolute;
  top: -6.75rem;
  left: 50%;
  transform: translateX(-50%);
}

.footer__inner {
  padding: 4rem 0;
  max-width: 19.4375rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 1440px) {
  .footer__inner {
    padding: 7rem 0;
    max-width: 70rem;
    display: grid;
    grid-template-columns: 1.15fr 1.1fr auto;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    text-align: left;
    align-items: start;
  }
}

.footer__title,
.footer__text {
  color: #fafafa;
}

.footer__title {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 900;
}
@media (min-width: 1440px) {
  .footer__title {
    font-size: 2.5rem;
    max-width: 27.8125rem;
  }
}

.footer__text {
  line-height: 1.5;
  letter-spacing: 0.02rem;
}
@media (min-width: 1440px) {
  .footer__text {
    font-size: 1.125rem;
  }
}

.footer__btn {
  display: flex;
  justify-content: center;
}
@media (min-width: 1440px) {
  .footer__btn {
    justify-content: flex-end;
    justify-self: end;
    align-items: center;
  }
}

.footer__btn-purple {
  background-color: #855fb1;
}
.footer__btn-purple:hover {
  background-color: #b18bdd;
}