// Breakpoints
$breakpoints: (
  mobile: 375px,
  tablet-min: 768px,
  tablet-max: 1439px,
  desktop: 1440px,
);

// Mixin
@mixin mq($device) {
  @media (min-width: map-get($breakpoints, $device)) {
    @content;
  }
}

@mixin mq-between($min, $max) {
  @media (min-width: map-get($breakpoints, $min)) and (max-width: map-get($breakpoints, $max)) {
    @content;
  }
}

// Fonts
$font-family-base: "Red Hat Display", sans-serif;
$font-weight-medium: 500;
$font-weight-black: 900;

// Color
$cyan600: #4d96a9;
$cyan300: #8fe3f9;
$purple600: #855fb1;
$purple300: #d9b8ff;
$slate900: #28283d;
$slate600: #87879d;
$slate300: #d1d1df;
$white: #fafafa;

.pc-br {
  display: none;

  @include mq(desktop) {
    display: block;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  font-size: 1rem;
  font-family: $font-family-base;
}

main {
}

.nav {
  padding-top: 3rem;
  text-align: center;
  img {
  }

  @include mq(desktop) {
    padding-top: 5rem;
  }
}

.nav__title {
}

.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 4rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include mq(desktop) {
    flex-direction: row;
    gap: 0;
    padding: 5.4375rem 0;
    max-width: 1440px;
    width: 100%;
  }
}

.hero__background {
  background-image: url(../images/mobile/combined-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 10rem;

  @include mq-between(tablet-min, tablet-max) {
    background-image: url(../images/tablet/combined-image-tablet.png);
    height: 18.9375rem;
  }

  @include mq(desktop) {
    background-image: none;
    height: auto;
  }
}

.hero__inner {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include mq(desktop) {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 8rem;
  }
}

.hero__images-left,
.hero__images-right {
  display: none;

  @include mq(desktop) {
    display: block;
    width: auto;
    height: auto;
    justify-self: center;
  }
}

.hero__images-left {
  @include mq(desktop) {
    transform: translate(-5px, -30px);
  }
}

.hero__images-right {
  @include mq(desktop) {
    transform: translateY(30px);
  }
}

.hero__content {
  max-width: 19.06rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include mq(tablet-min) {
    max-width: 28.01rem;
  }

  @include mq(desktop) {
    justify-content: center;
    gap: 2rem;
  }
}

.hero__title {
  font-size: 2.5rem;
  font-weight: $font-weight-black;
  line-height: 1.1;

  @include mq(desktop) {
    font-size: 4rem;
  }
}

.hero__subtitle {
  font-weight: $font-weight-medium;
  line-height: 1.5;
  letter-spacing: 0.005rem;
  color: $slate600;

  @include mq(desktop) {
    font-size: 1.125rem;
  }
}

.hero__btn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  @include mq(tablet-min) {
    flex-direction: row;
    gap: 1.0625rem;
    justify-content: center;
  }
}

.btn {
  padding: 1rem 2.5rem;
  line-height: 1.5;
  color: $white;
  font-weight: $font-weight-black;
  border-radius: 1.8125rem;
  width: fit-content;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hero__btn-cyan {
  background-color: $cyan600;

  span {
    color: $cyan300;
    font-weight: $font-weight-black;
  }

  &:hover {
    background-color: #71c0d4;
  }
}

.hero__btn-purple {
  background-color: $purple600;

  &:hover {
    background-color: #b18bdd;
  }
}

.main {
  padding: 2rem 0 4rem;

  @include mq(desktop) {
    padding: 3.5rem 0 4.5rem;
  }
}

.main__inner {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 19.4375rem;
  width: 100%;
  margin: 0 auto;

  @include mq(desktop) {
    max-width: 70rem;
  }
}

.section-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-line {
  width: 1px;
  height: 5rem;
  background-color: $slate300;
}

.section-circle {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 1px solid $slate300;
  background-color: $white;
  color: $slate600;
  font-weight: $font-weight-black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.5;
}

.main__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  @include mq(desktop) {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  img {
    border-radius: 8px;
    width: 100%;
    height: 144px; // For pixel-perfect design
    object-fit: cover;
    aspect-ratio: 1;

    @include mq(desktop) {
      height: auto;
    }
  }
}

.main__content {
  text-align: center;
}

.main__content-subtitle {
  color: $cyan600;
  font-weight: $font-weight-black;
  line-height: 1.1;
  letter-spacing: 0.25rem;
  font-size: 0.75rem;
  text-transform: uppercase;

  @include mq(desktop) {
    font-size: 1rem;
  }
}

.main__content-title {
  margin-top: 1rem;
  font-size: 2rem;
  line-height: 1.1;
  font-weight: $font-weight-black;

  @include mq(desktop) {
    font-size: 2.5rem;
  }
}

.main__content-text {
  margin-top: 2rem;
  line-height: 1.5;
  color: $slate600;
  letter-spacing: 0.01rem;

  @include mq(desktop) {
    font-size: 1.125rem;
  }
}

.footer {
  position: relative;
  margin-top: 6.75rem;
  background-color: $cyan600;
  background-image: linear-gradient(
      rgba(77, 150, 169, 0.9),
      rgba(77, 150, 169, 0.9)
    ),
    url(../images/tablet/image-footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include mq(desktop) {
    background-image: linear-gradient(
        rgba(77, 150, 169, 0.9),
        rgba(77, 150, 169, 0.9)
      ),
      url(../images/desktop/image-footer.jpg);
    background-position: center top;
  }
}

.footer__indicator {
  position: absolute;
  top: -6.75rem;
  left: 50%;
  transform: translateX(-50%);
}

.footer__inner {
  padding: 4rem 0;
  max-width: 19.4375rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include mq(desktop) {
    padding: 7rem 0;
    max-width: 70rem;
    display: grid;
    grid-template-columns: 1.15fr 1.1fr auto; // title / text / button
    column-gap: 2rem;
    text-align: left;
    align-items: start;
  }
}

.footer__title,
.footer__text {
  color: $white;
}

.footer__title {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: $font-weight-black;

  @include mq(desktop) {
    font-size: 2.5rem;
    max-width: 27.8125rem;
  }
}

.footer__text {
  line-height: 1.5;
  letter-spacing: 0.02rem;

  @include mq(desktop) {
    font-size: 1.125rem;
  }
}

.footer__btn {
  display: flex;
  justify-content: center;

  @include mq(desktop) {
    justify-content: flex-end;
    justify-self: end;
    align-items: center;
  }
}

.footer__btn-purple {
  background-color: $purple600;

  &:hover {
    background-color: #b18bdd;
  }
}
